.product-heading {
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
}

.product-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.product-card {
  min-width: 220px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
}
.product-card h3 {
  margin: 0 0 10px;
}

.product-card button {
  background-color: #1e1e2f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #1e1e2f;
}
